Repository mochaul/ppl-scrumbooster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: FlutterTest, BackendTest, BackendDeployToProduction, BackendDeployToStaging, BackendDeployToDevelopment, FlutterDeployToDevelopment

FlutterTest:
  stage: test
  image: jro7/flutter_lcov
  script:
  - echo Testing $APP_NAME
  - flutter doctor -v
  - flutter test --coverage
  - lcov --summary coverage/lcov.info
  - genhtml coverage/lcov.info --output=coverage
  coverage: '/lines......: \d+\.\d+\%/'
  artifacts:
    name: mobile-coverage
    paths:
  ...

BackendTest:
  stage: test
  image: python:3.6
  before_script:
  - cd scrum-booster-api
  - pip install -r requirements.txt
  - python manage.py makemigrations
  - python manage.py migrate
  - python manage.py collectstatic --no-input
  - python manage.py runserver 8000 &
  when: on_success
  script:
  - coverage run manage.py test
  ...

BackendDeployToProduction:
  variables:
    ENV_NAME: production
  stage: deploy
  image: gitlab/dind:latest
  before_script:
  - docker info
  script:
  - DOCKER_IMAGE_TAG=$DOCKER_IMAGE_NAME/scrumboosterapi/$ENV_NAME
  - docker build -t $DOCKER_IMAGE_TAG ./scrum-booster-api
  - docker push $DOCKER_IMAGE_TAG
  tags:
  - docker
  - build
  environment:
  ...

BackendDeployToStaging:
  variables:
    ENV_NAME: staging
  stage: deploy
  image: gitlab/dind:latest
  before_script:
  - docker info
  script:
  - DOCKER_IMAGE_TAG=$DOCKER_IMAGE_NAME/scrumboosterapi/$ENV_NAME
  - docker build -t $DOCKER_IMAGE_TAG ./scrum-booster-api
  - docker push $DOCKER_IMAGE_TAG
  tags:
  - docker
  - build
  environment:
  ...

BackendDeployToDevelopment:
  variables:
    ENV_NAME: development
  stage: deploy
  image: gitlab/dind:latest
  before_script:
  - docker info
  script:
  - DOCKER_IMAGE_TAG=$DOCKER_IMAGE_NAME/scrumboosterapi/$ENV_NAME
  - docker build -t $DOCKER_IMAGE_TAG ./scrum-booster-api
  - docker push $DOCKER_IMAGE_TAG
  tags:
  - docker
  - build
  environment:
  ...

FlutterDeployToDevelopment:
  variables:
    ENV_NAME: development
  image: gitlab/dind:latest
  stage: deploy
  tags:
  - docker
  - build
  before_script:
  - docker info
  script:
  - DOCKER_IMAGE_TAG=$DOCKER_IMAGE_NAME/scrumbooster-mobile/$ENV_NAME
  - docker build -t $DOCKER_IMAGE_TAG .
  - docker push $DOCKER_IMAGE_TAG
  environment:
  ...

[GREEN] Fix merging issues
  lib/initScreen/HomeScreen.dart
  test/widget_test.dart
Due: FlutterTest, FlutterDeployToDevelopment

[GREEN] Fix merging issues
  test/widget_test.dart
Due: FlutterTest, FlutterDeployToDevelopment

[GREEN] Fix merge conflict
  test/widget_test.dart
Due: FlutterTest, FlutterDeployToDevelopment

[GREEN] adding widget test
  coverage/lcov.info
  lib/contents/problems.dart
  test/widget_test.dart
Due: FlutterTest, FlutterDeployToDevelopment

[GREEN] resolve's rezki's conflict
  test/widget_test.dart
Due: FlutterTest, FlutterDeployToDevelopment

[RED] Membuat Layout Ceremonies Content
  test/widget_test.dart
Due: FlutterTest, FlutterDeployToDevelopment

[GREEN] Membuat Layout Ceremonies Content
  assets/images/content-b.png
  lib/contents/ceremonies.dart
  lib/initScreen/HomeScreen.dart
  lib/initScreen/ceremonyContent.dart
  lib/main.dart
  pubspec.yaml
Due: FlutterTest, FlutterDeployToDevelopment

[GREEN] Resolve izzan's merger conflict
  lib/initScreen/HomeScreen.dart
  test/widget_test.dart
Due: FlutterTest, FlutterDeployToDevelopment

[GREEN] Membuat Layout Ceremonies Content
  test/widget_test.dart
Due: FlutterTest, FlutterDeployToDevelopment

[CHORES] fix merge conflicts
  lib/initScreen/HomeScreen.dart
  lib/scrumPhaseList/ProductBacklog.dart
  lib/utils/utils.dart
  test/widget_test.dart
Due: FlutterTest, FlutterDeployToDevelopment

Us 3 sebagai user saya ingin melihat tampilan yang menarik dan mudah dipahami [COMPLETED]
  assets/images/content-b.png
  lib/contents/ceremonies.dart
  lib/initScreen/HomeScreen.dart
  lib/initScreen/ceremonyContent.dart
  lib/main.dart
  lib/scrumPhaseList/ProductBacklog.dart
  lib/utils/utils.dart
  scrum-booster-api/rest_api/admin.py
  scrum-booster-api/rest_api/tests.py
  scrum-booster-api/rest_api/views.py
  test/widget_test.dart
Due: BackendTest, BackendDeployToProduction, BackendDeployToStaging, BackendDeployToDevelopment

[CHORES] Change mobile app deployment script to VS AppCenter, no more using docker
  .gitlab-ci.yml
Due: FlutterTest, BackendTest, BackendDeployToProduction, BackendDeployToStaging, BackendDeployToDevelopment, FlutterDeployToDevelopment

[CHORES] .gitignore minor fix
  .gitlab-ci.yml
Due: FlutterTest, BackendTest, BackendDeployToProduction, BackendDeployToStaging, BackendDeployToDevelopment, FlutterDeployToDevelopment

[CHORES] removing docker info script in mobile app deployment stage
  .gitlab-ci.yml
Due: FlutterTest, BackendTest, BackendDeployToProduction, BackendDeployToStaging, BackendDeployToDevelopment, FlutterDeployToDevelopment

[CHORES] Add Flutter coverage badge to README.md
  README.md
Due: FlutterTest, FlutterDeployToDevelopment

[CHORES] edit .gitignore
  README.md
Due: FlutterTest, FlutterDeployToDevelopment

[CHORES] edit README.md
  README.md
Due: FlutterTest, FlutterDeployToDevelopment

Coldfix sprint 2
  .gitlab-ci.yml
  README.md
Due: FlutterTest, BackendTest, BackendDeployToProduction, BackendDeployToStaging, BackendDeployToDevelopment, FlutterDeployToDevelopment

add boarding page
  assets/scrum-board-cloud.png
  assets/scrum-board.png
  lib/initScreen/BoardingPage.dart
  lib/initScreen/splashScreen.dart
  lib/main.dart
  pubspec.yaml
Due: FlutterTest, FlutterDeployToDevelopment

[CHORES] Home Menu visual fixes
  lib/initScreen/HomeScreen.dart
  test/widget_test.dart
Due: FlutterTest, FlutterDeployToDevelopment

[GREEN] Fix home screen's widget test
  test/widget_test.dart
Due: FlutterTest, FlutterDeployToDevelopment

[CHORES] about page visual revamp
  lib/initScreen/AboutPage.dart
Due: FlutterTest, FlutterDeployToDevelopment

[GREEN] Adding aboutPage widget tests
  lib/initScreen/AboutPage.dart
  test/widget_test.dart
Due: FlutterTest, FlutterDeployToDevelopment

[REFACTOR] tidying up widget testing sequences
  test/widget_test.dart
Due: FlutterTest, FlutterDeployToDevelopment

[REFACTOR] tidying up product Backlog page
  lib/scrumPhaseList/ProductBacklog.dart
Due: FlutterTest, FlutterDeployToDevelopment

[REFACTOR] refactor product backlog phase page widget testing
  test/widget_test.dart
Due: FlutterTest, FlutterDeployToDevelopment

[REFACTOR] refactoring ceremony and problem content page
  lib/contents/ceremonies.dart
  lib/contents/problems.dart
Due: FlutterTest, FlutterDeployToDevelopment

[REFACTOR] refactoring Glossary Page
  lib/contentsList/GlossaryPage.dart
  lib/contentsList/ListCeremonies.dart
Due: FlutterTest, FlutterDeployToDevelopment

[REFACTOR] removing unused imports in ceremonies and product backlog page
  lib/contentsList/ListCeremonies.dart
  lib/scrumPhaseList/ProductBacklog.dart
Due: FlutterTest, FlutterDeployToDevelopment

change font in splash screen
  lib/initScreen/BoardingPage.dart
  lib/initScreen/splashScreen.dart
Due: FlutterTest, FlutterDeployToDevelopment

[RED] create scrum phase content button component
  lib/components/ScrumListBtn.dart
  lib/components/ScrumPhaseContentBtn.dart
Due: FlutterTest, FlutterDeployToDevelopment

[REFACTOR] implementing scrum phase content button component in scrum phase page
  lib/scrumPhaseList/ProductBacklog.dart
Due: FlutterTest, FlutterDeployToDevelopment

[CHORES] added python migrate to deployment
  scrum-booster-api/start.sh
Due: BackendTest, BackendDeployToProduction, BackendDeployToStaging, BackendDeployToDevelopment

[GREEN] Update Models ManyToManyField
  scrum-booster-api/rest_api/migrations/0003_auto_20190326_0809.py
  scrum-booster-api/rest_api/models.py
Due: BackendTest, BackendDeployToProduction, BackendDeployToStaging, BackendDeployToDevelopment

[REFACTOR] refactoring problems list page
  lib/contentsList/ListProblems.dart
Due: FlutterTest, FlutterDeployToDevelopment

[CHORES] added python linter test
  .gitlab-ci.yml
Due: FlutterTest, BackendTest, BackendDeployToProduction, BackendDeployToStaging, BackendDeployToDevelopment, FlutterDeployToDevelopment

Path conditions:
  FlutterTest: not (any of: scrum-booster-api/**/*)
  BackendTest: any of: scrum-booster-api/**/*, .gitlab-ci.yml
  BackendDeployToProduction: any of: scrum-booster-api/**/*, .gitlab-ci.yml
  BackendDeployToStaging: any of: scrum-booster-api/**/*, .gitlab-ci.yml
  BackendDeployToDevelopment: any of: scrum-booster-api/**/*, .gitlab-ci.yml
  FlutterDeployToDevelopment: not (any of: scrum-booster-api/**/*)
